<h1> Employee Page </h1>

<li> <%= @employee.first_name%> </li>
<li> <%= @employee.last_name%> </li>
<li> <%= @employee.alias%> </li>
<li> <%= @employee.title%> </li>
<li> <%= @employee.office%> </li>
<li> <%= @employee.dog.name%><li> 
<br>
<br>
<img src= <%=@employee.img_url%> >



 